.main-container {
  display: flex;
}
.left-panel {
  margin-left:40px;
}
.view-container {
  margin-left: 40px;
}
.singleColumnContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  font-family: sans-serif; 
}
.moreFilters {
  cursor: pointer;
}